* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
#wrap {
	height: 100%;
	background-color: #e7e7e7;
	overflow: hidden;
	background: linear-gradient(180deg, rgba(12, 35, 249, 0.86) 29.69%, rgba(19, 39, 228, 0.56) 57.29%);
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	font-size: 20px;
	text-align: center;
	box-shadow: 0 4px 3px #5f56f0;
}
header a {
	text-shadow: 3px 3px 1px #ddd;
}
#container {
	height: 100%;
}
footer {
	position: fixed;
	visibility: hidden;
	bottom: 0;
}
.btm_fix_menu {
	height: 50px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	box-shadow: 0 0 11px rgba(195, 195, 195, 0.5);
	z-index: 100;
}
.btm_fix_menu > ul {
	height: 100%;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
.btm_fix_menu > ul > li {
	float: left;
	width: 25%;
	height: 100%;
}
.btm_menu_btn > i {
	width: 100%;
	height: 20px;
	font-size: 1.52em;
	padding: 5px 0;
}

.btm_menu_btn {
	border: 0;
	background: #fff;
	font-size: 0.86em;
	width: 100%;
}

.no_anchor_style {
	text-decoration: none;
	color: #000;
}

.none {
	display: inline-block;
	width: 0;
	height: 0;
	text-indent: -999em;
}
