/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body,
#app,
#wrap {
	height: 100%;
}

#app {
	overflow: hidden;
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.tag {
	display: inline-block;
	border-radius: 10px;
	height: 16px;
	line-height: 16px;
	padding: 1px 5px;
	margin-left: 5px;
	font-size: 9px;
}

.theme-color {
	background-color: #84bfff;
	color: #000;
}

.red {
	background: #dc5252;
	color: #fff;
	border: 1px solid #dc5252;
}

.blue {
	background: #00f;
	color: #fff;
	border: 1px solid #00f;

}

.green {
	background: #98de3d;
	color: #fff;
	border: 1px solid #98de3d;

}
